.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  height: auto;
  max-height: 100px;
  min-height: 90px;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 20px;
  /* background-color: pink; */
}

.buttons {
  width: 200px;
}

.main {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: bisque; */
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* Group Creation Page START*/
.list {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  max-width: 616px;
  max-height: 722px;
  height: 100%;
  width: 100%;
  background-color:#D4E1DA;
}

.listtitle {
  margin-top: 20px;
  font-size: 24px;
}
/* Group Creation Page END */

/* Schedule Page START */

/* Schedule Page END */