.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  height: auto;
  max-height: 100px;
  min-height: 90px;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 20px;
  /* background-color: pink; */
}

.buttons {
  width: 200px;
}

.main {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: bisque; */
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
